{% assign current_product  = product.selected_or_first_available_variant %}
{% assign product_image = current_variant.featured_image | default: product.featured_image %}
<div class="container">
    <div class="row">
      <div class="col-md-6 col-12">
        <img class = "img-fluid" src="{{ product_image |  img_url: 'large' }}" alt="{{product_image.alt}}" id="ProductMainImage">
        {% for image in product.images %}
            <img src="{{image.src |  img_url: 'medium'}}" alt="{{image.alt}}">
        {% endfor %}
      </div>
      <div class="col-md-6 col-12">
        <h1>{{ product.title }}</h1>
        <p>{{ current_product.price | money_with_currency}}</p>
        {%form 'product', product, class:"product-form", id:"AddtoCartForm"%}
          <div class="mb-3">
            <select name="id" id="productSelect" class="form-select">
              {% for variant in product.variants %}
                {% if variant.available %}
                  <option value="{{ variant.id }}">
                    {{ variant.title }}
                  </option>
                {% else %}
                  <option value="{{ variant.id }}" disabled = "disable">
                    {{ variant.title }}
                  </option>
                {% endif %}
              {% endfor %}
            </select>
          </div>
          <div class="mb-3">
            <label for="quantity" class="form-label">Quantity</label>
            <input type="number" id="quantity" name="quantity" value="1" min="1" class="form-control">
          </div>
          <button type="submit" name="add" id="AddToCard" class="btn btn-secondary btn-lg w-100">Add to Cart</button>
          {% if section.settings.dynamic_buttons_checkbox == true %}
            {{form |  payment_button}}
          {% endif %}
        {%endform%}
      </div>
    </div>
</div>


{% schema %}
{
    "name": "Product Page",
    "settings": [
            {
                "type": "checkbox",
                "id": "dynamic_buttons_checkbox",
                "label": "Enable Dynamic Buttons",
                "default": false
            }
        ]
}
{% endschema %}

{% assign variants_counter = 0 %}

<script type="application/json" data-product-json>
  {
    "product": {
      "id":{{product.id | json}},"available":{{product.available | json}},"handle":{{product.handle | json}},"title":{{product.title | json}},"vendor":{{product.vendor | json}},"type":{{product.type | json}},"price":{{product.price | json}},"price_min":{{product.price_min | json}},"price_max":{{product.price_max | json}},"images":{{product.images | json}},"options":{{product.options | json}},
      "variants":[
        {%- for my_variant in product.variants -%}
          {%- if variants_counter > 0 -%}
            {{","}}
          {%- endif -%}
          {"id":{{my_variant.id | json}},"available":{{my_variant.available | json}},"compare_at_price":{{my_variant.compare_at_price | json}},"price":{{my_variant.price | json}},"title":{{my_variant.title | json}},"options":{{my_variant.options | json}},"option1":{{my_variant.option1 | json}},"option2":{{my_variant.option2 | json}}
          ,"inventory_quantity":{{my_variant.inventory_quantity | json}}}
          {%- assign variants_counter = variants_counter | plus: 1 -%}
        {%- endfor -%}
      ],
    },
    "selected_variant_id": {{ product.selected_or_first_available_variant.id }}
  }
</script>